<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Hub</title>
</head>
<body>
    <h1>Add Piza</h1>
    <form method="POST" action="/api/addPizza">
        <label>
            Type: 
            <input name="type" >
        </label>
        <label>
            Size: 
            <input name="size" >
        </label>
        <label>
            Price: 
            <input name="price">
        </label>
        <label>
            Company: 
            <input name="company">
        </label>
        <label>
            Pic: 
            <input name="pic">
        </label>
        <input type="submit" value="Add Pizza">
    </form>
</body>
</html>